container {
  max-width: 400px;
  margin: 50px auto;
  border:  1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: #4CAF50;
  color: #fff;
  font-weight: bold;
}
link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
