button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background: #007bff;
  color: #fff;
  font-weight: bold;
}
container {
  width: 400px;
  margin: 50px auto;
  border: 1px solid #ddd;
  padding: 20px;
  border: 8px;
  font-family: arial;
}
form {
  display: flex;
  flex: column;
}
input {
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}
link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
